<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link href="/css/starter-template.css" rel="stylesheet"/>


</head>
<body>
<div th:replace="fragments/header"/>
<div class="container">

    <div class="starter-template">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Bild</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="game : ${games}" class="clickable-row table-responsive">
                <td data-th-text="${game.name}"/>
                <td data-th-text="${game.description}"/>
                <td><img th:src="${game.pictureUrl}" width="50px"/></td>
            </tr>
            </tbody>
        </table>    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>