<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link href="/css/starter-template.css" rel="stylesheet"/>


</head>
<body>
<div th:replace="fragments/header"/>
<div class="container">

    <div class="starter-template">
        <h1>Neues Spiel anlegen</h1>
        <form action="#" th:action="@{/games}" th:object="${game}" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">Name</label>
                <div class="col-lg-3">
                    <input type="text" th:field="*{name}" placeholder="Name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Beschreibung</label>
                <div class="col-lg-3">
                    <input type="text" th:field="*{description}" placeholder="Beschreibung" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Link zum Bild</label>
                <div class="col-lg-3">
                    <input type="text" th:field="*{pictureUrl}" placeholder="Link zum Bild" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-3">
                    <button class="btn btn-default">Anlegen</button>
                </div>
            </div>
        </form>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>